/* loader spinnner*/

.lds-grid {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
}

.lds-grid i {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid i:nth-child(1) {
    color: #9356DC;
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid i:nth-child(2) {
    color: #FF79DA;
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid i:nth-child(3) {
    color: #99E2D0;
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid i:nth-child(4) {
    color: #FF79DA;
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid i:nth-child(5) {
    color: #99E2D0;
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid i:nth-child(6) {
    color: #9356DC;
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid i:nth-child(7) {
    color: #99E2D0;
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid i:nth-child(8) {
    color: #9356DC;
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid i:nth-child(9) {
    color: #FF79DA;
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


/* END*/


/*@-webkit-keyframes hidescreen {
    0% {
        opacity: 1;
        z-index: 3;
    }
    90% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes hidescreen {
    0% {
        opacity: 1;
        z-index: 3;
    }
    90% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes dotsgone {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes dotsgone {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes loadingspinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadingspinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


/* Structure */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Roboto";
    overflow-x: hidden;
}

.loader {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-animation: 5s lds-grid;
    animation: 5s lds-grid;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex: 1 1 auto;
}

#Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#Container header {
    padding: 0;
}

.ContainerMenu {
    position: relative;
    background-color: #f6f6f6;
    z-index: 1;
    border-radius: 30px 30px 0 0;
    padding-top: 25px;
    margin-top: -5em;
}

.ContainerMenu div {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin: 0 0 1em;
}

.ContainerMenu div .fas.fa-heart {
    top: 0;
}

.ContainerMenu div h1 {
    font-family: "Shrikhand";
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

#Container button {
    width: 15%;
    height: 3em;
    align-self: center;
    font-size: 1.3em;
}

#Container button {
    margin: 0;
}

.menuItems {
    width: 100%;
}

caption {
    font-size: 1.3em;
    font-weight: normal;
    text-align: start;
    margin: 0 1em 1em;
}

hr {
    width: 11%;
    margin: 0;
    height: 3px;
    background-color: #99E2D0;
    border: none;
}

tr {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em;
}

th {
    text-align: start;
}

td {
    display: flex;
    justify-content: space-between;
}

td span {
    font-weight: bold;
}

table {
    width: 32%;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

ul {
    margin: 0;
}


/* Mise en forme */

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #383838;
    color: white;
}

footer h4 {
    margin-left: 4.9em;
}

footer ul {
    padding-left: 5em;
}

footer ul li {
    margin: 0 0 8px;
}

footer ul li i {
    margin: 0 8px 0 2px;
}

nav h1 {
    margin: 1em 0 1em 1em;
    text-align: left;
}

aside,
nav {
    width: 20em;
    text-align: center;
}

aside {
    color: #353535;
    font-weight: bold;
    font-size: 0.95em;
    border-top: solid 1.8px #d2d2d2;
    padding: 0;
}

aside div,
nav ol {
    display: flex;
    justify-content: center;
}

aside div p {
    margin: 0;
}

aside .fa-map-marker-alt {
    margin: 4px 15px 0 0;
}

dt {
    margin: 1em 0;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: black;
}

dd {
    color: #656565;
    margin-bottom: 30px;
    font-size: 1.2em;
    margin: 0;
}

aside,
nav,
section {
    padding: 10px;
}

nav ol {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

nav ol li {
    width: 100%;
}

nav ol li a {
    display: flex;
    background-color: #f6f6f6;
    margin: 1em 0;
    border-radius: 20px;
    padding: 9px 0 8px 0;
    -webkit-box-shadow: 0px 3px 8px 2px #e6e6e6;
    box-shadow: 0px 3px 8px 2px #e6e6e6;
    height: 4em;
}

nav ol li a:hover {
    background-color: #f5edff;
}

nav ol li a span {
    background-color: #9356DC;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: auto -0.5em;
}

nav ol li a i {
    font-size: 0.9em;
    color: #7e7e7e;
    align-self: center;
    width: 20%;
    padding-left: 2em;
}

nav ol li p {
    font-weight: bold;
    font-size: 1em;
    margin: auto 0.4em;
}

a {
    text-decoration: none;
    color: black;
}

header a i {
    float: left;
    margin: 0.5em 1em 0;
    font-size: 1.3em;
}

header figure img {
    max-height: 500px;
    max-width: 100%;
    width: 100%;
    background-size: contain;
}

ul li,
ol li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    color: white;
    border-radius: 45px;
    -webkit-box-shadow: 0px 3px 8px 3px #c8c8c8;
    box-shadow: 0px 3px 8px 3px #c8c8c8;
    font-size: 1.2em;
    border: none;
    padding: 15px 22px;
}

button:hover {
    -webkit-box-shadow: 0px 3px 8px 3px #787878;
    box-shadow: 0px 3px 8px 3px #787878;
    opacity: .75;
    -webkit-transition: 1s;
    transition: 1s;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px;
    background-color: #F2F2F2;
}

h2 {
    margin: 1rem;
}

#Restaurants {
    display: flex;
    margin: 10px;
}

.centre {
    margin: 0 auto;
}

.cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carte {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    width: 50%;
}

.carte:hover {
    box-sizing: border-box;
    border: 2px solid #aaa;
    -webkit-box-shadow: 0px 3px 8px 3px #787878;
    box-shadow: 0px 3px 8px 3px #787878;
    opacity: .75;
    -webkit-transition: 1s;
    transition: 1s;
}

.carte a figure {
    margin: 0;
}

figure {
    margin: 0;
}

.carte a figure img {
    height: 15rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

figure span {
    background-color: #99E2D0;
    border-radius: 3px;
    font-size: 0.8em;
    color: #008766;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    margin-top: 17px;
    padding: 5px 10px;
    right: 17%;
}

figcaption {
    display: flex;
}

.legend {
    width: 85%;
    margin: 5px 0px 5px 10px;
}

.legend p {
    font-family: "Roboto Thin", sans-serif;
    font-weight: lighter;
}

.newResto {
    right: 50%;
}

.heartIcon {
    display: block;
    position: relative;
    margin: auto 0;
    font-size: 2em;
    background-color: transparent;
}

.fas.fa-heart {
    position: absolute;
    top: 16%;
    color: transparent;
}

.far.fa-heart {
    top: 10%;
}

.heartIcon:hover .fas.fa-heart {
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
}


/* défilement */

.fade-in {
    opacity: 1;
    -webkit-animation: 0.7s fadeIn ease-out backwards;
    animation: 0.7s fadeIn ease-out backwards;
}

.fade-in:nth-of-type(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in:nth-of-type(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fade-in:nth-of-type(5) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}


/* Responsive Design */

@media (max-width:768px) {
    main {
        flex-direction: column;
    }
    aside,
    nav {
        width: auto;
        padding: 0;
    }
    aside {
        order: -1;
    }
    aside div {
        background-color: #eaeaea;
    }
    dl {
        margin: 0 7rem;
    }
    dt {
        font-size: 2em;
    }
    dd {
        font-size: 1em;
        margin: 30px 0;
    }
    nav ol li a i {
        width: 20%;
    }
    nav ol li a {
        margin: 1em 2em;
    }
    nav ol li p {
        width: 50%;
    }
    .cartes {
        display: flex;
        flex: 0 0 48%;
        flex-direction: column;
    }
    .carte {
        width: 95%;
        margin-bottom: 1em;
    }
    figure span,
    .newResto {
        right: 10%;
    }
    .ContainerMenu div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
    }
    .ContainerMenu .heartIcon {
        width: auto;
        margin-top: 0;
    }
    #Container button {
        align-self: center;
        width: auto;
        height: auto;
    }
    .menuItems {
        display: flex;
        flex-direction: column;
    }
    table {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    /******* Taille d'écran grande ********/
    .carte {
        flex: 0 0 48%;
        margin-bottom: 1em;
    }
    button {
        padding: 9px 10px;
    }
    aside,
    nav,
    section {
        border-top: solid 1.8px #d2d2d2;
    }
    .ContainerMenu .heartIcon {
        margin: 0 0 0 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .carte {
        display: flex;
        flex: 0 0 100%;
        flex-direction: column;
        margin-bottom: 1em;
    }
    figure span,
    .newResto {
        right: 23%;
    }
    aside,
    nav,
    section {
        border-top: solid 1.8px #d2d2d2;
    }
    .ContainerMenu .heartIcon {
        margin: 0 0 0 1em;
    }
}